<div class="widget widget_banner">
<a href="{{ settings.custom_sidebar_link }}">
{% if settings.custom_sidebar_img_toggle %}<img src="{{ 'custom_sidebar_img.png' | asset_url }}" />{% endif %}
</a>
</div>